*{
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 15px;
    padding: 8px;   
}
.container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px ;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.bk{
    background-color:lightgreen;
    padding: 5px 20px 15px 20px ;
    border: 1px solid lightgray;
    border-radius: 5px;
}
input[type = "text"],
input[type = "email"],
textarea, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
fieldset{
    background-color: #fff;
    border: 1px solid #ccc;
}
input[type = "submit"]
{
    padding: 10px;
    width: 20%;
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
input[type = "submit"]:hover{
    background-color: lightskyblue;
}